body {
  header {
    .header_container {
      max-width: 100%;
      height: 100px;
      margin: 0 auto;
      background-color: $mackgroundClr;
      display: flex;
      justify-content: center;

      .header_content {
        max-width: 1110px;
        width: 100%;
        background-color: $mackgroundClr;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $tablet) {
          padding: 0px 40px;
        }

        .logo_container {
          @media (max-width: $tablet) {
            display: flex;
            align-items: center;
          }

          .menu_btn {
            display: none;
            margin-right: 42px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 16px;
            height: 1px;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            @media (max-width: $tablet) {
              display: block;
            }

            .menu_btn_burger {
              display: none;
              width: 16px;
              height: 3px;
              background-color: white;
              transition: all 0.5s ease-in-out;
              @media (max-width: $tablet) {
                display: block;
              }

              &::before,
              &::after {
                content: ' ';
                position: absolute;
                width: 16px;
                height: 3px;
                background-color: white;
                transition: all 0.5s ease-in-out;
              }

              &::before {
                transform: translateY(-6px);
              }

              &::after {
                transform: translateY(6px);
              }
            }

            .menu_btn.open {
              .menu_btn_burger {
                transform: rotate(90deg);
                background-color: transparent;
                transition: all 0.5s ease-in-out;

                &::before {
                  transform: rotate(45deg);
                }

                &::after {
                  transform: rotate(-45deg);
                }
              }
            }
          }
        }

        .navigation {
          @media (max-width: $tablet) {
            display: none;
          }

          nav ul {
            display: flex;

            li:not(:last-child) {
              margin-right: 50px;
            }

            a {
              font-size: 13px;
              font-weight: bold;
              line-height: 25px;
              letter-spacing: 2px;
              text-align: left;
              color: $main-bg-color;
              transition: all 0.5s ease-in-out;
            }
            a:hover {
              color: $btnColor;
            }
          }
        }
        .cart {
          a {
            .cart_svg {
              path {
                transition: all 0.5s ease-in-out;
              }
            }
            &:hover {
              .cart_svg {
                path {
                  fill: $btnColor;
                }
              }
            }
          }
        }
      }
    }
    .underline_container {
      background-color: $mackgroundClr;
      @media (max-width: $tablet) {
        padding: 0px 40px;
      }
      .underline {
        max-width: 1110px;
        width: 100%;
        height: 1px;
        margin: 0 auto;
        opacity: 0.2;
        background-color: $main-bg-color;
      }
    }
  }
}
