body {
  header {
    height: 100px;
    position: relative;
    z-index: 3;

    .header_container {
      max-width: 100%;
      height: 100px;
      margin: 0 auto;
      background-color: $mackgroundClr;
      padding: 0px 20px;
      @include flex_drct_jstf_algn_wrp(row, center);
      @media (max-width: $l-tablet) {
        padding: 0px 0px;
      }
      @media (max-width: $phone) {
        padding: 0px 0px;
      }

      .header_content {
        max-width: 1110px;
        width: 100%;
        background-color: $mackgroundClr;
        @include flex_drct_jstf_algn_wrp(row, space-between, center);

        @media (max-width: $l-tablet) {
          padding: 0px 40px;
        }
        @media (max-width: $phone) {
          padding: 0px 24px;
        }

        .logo_container {
          width: auto;
          height: auto;
          @media (max-width: $l-tablet) {
            @include flex_drct_jstf_algn_wrp(row, none, center);
          }

          .menu_btn_burger {
            display: none;
            width: 16px;
            height: 3px;
            background-color: white;
            transition: all 0.5s ease-in-out;
            @media (max-width: $l-tablet) {
              display: block;
            }

            &::before,
            &::after {
              content: ' ';
              position: absolute;
              width: 16px;
              height: 3px;
              background-color: white;
              transition: all 0.5s ease-in-out;
            }

            &::before {
              transform: translateY(-6px);
            }

            &::after {
              transform: translateY(6px);
            }
          }

          .menu_btn {
            display: none;
            margin-right: 42px;

            @include flex_drct_jstf_algn_wrp(row, center, center);

            width: 16px;
            @media (max-width: $phone) {
              margin-right: 0px;
            }

            cursor: pointer;
            transition: all 0.5s ease-in-out;
            @media (max-width: $l-tablet) {
              display: block;
            }

            &.open {
              .menu_btn_burger {
                transform: rotate(90deg);
                background-color: transparent;
                transition: all 0.5s ease-in-out;

                &::before {
                  transform: rotate(45deg);
                }

                &::after {
                  transform: rotate(-45deg);
                }
              }
            }
          }

          .logo {
            @media (max-width: $phone) {
              display: none;
            }
          }
        }

        .phone_logo {
          display: none;
          @media (max-width: $phone) {
            display: block;
          }
        }

        .navigation {
          @media (max-width: $l-tablet) {
            display: none;
          }

          nav ul {
            display: flex;

            li:not(:last-child) {
              margin-right: 50px;
            }

            a {
              font-size: 13px;
              font-weight: bold;
              line-height: 25px;
              letter-spacing: 2px;
              text-align: left;
              color: $main-bg-color;
              transition: all 0.5s ease-in-out;
            }
            a:hover {
              color: $btnColor;
            }
          }
        }
        .cart {
          a {
            .cart_svg {
              path {
                transition: all 0.5s ease-in-out;
              }
            }
            &:hover {
              .cart_svg {
                path {
                  fill: $btnColor;
                }
              }
            }
          }
        }
      }
    }
    .underline_container {
      background-color: $mackgroundClr;
      padding: 0px 20px;
      @media (max-width: $l-tablet) {
        padding: 0px 40px;
      }
      @media (max-width: $phone) {
        padding: 0px;
      }

      .underline {
        max-width: 1110px;
        width: 100%;
        height: 1px;
        margin: 0 auto;
        opacity: 0.2;
        background-color: $main-bg-color;
      }
    }
    .container {
      max-width: 1110px;
      margin: 0 auto;
      height: 50px;
      @include flex_drct_jstf_algn_wrp(row, space-between, center);
      position: relative;
      @include flex_drct_jstf_algn_wrp(row, end, start);
      @media (max-width: $l-tablet) {
        padding-right: 0px 20px;
      }

      .menu_container {
        width: 398px;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
        overflow: hidden;
        visibility: hidden;
        &.visibility {
          visibility: visible;
        }

        @media (max-width: 415px) {
          width: 350px;
        }

        .menu {
          width: 100%;
          height: 804px;
          background-color: $mackgroundClr;
          transform: translateX(-400px);
          transition: all 0.5s ease-in-out;

          &.show_menu {
            transform: translateX(0px);
          }

          nav {
            ul {
              padding-top: 25px;
              li {
                width: 344px;
                height: 77px;
                margin-top: 12px;
                padding-left: 40px;
                @include flex_drct_jstf_algn_wrp(row, start, center);
                transition: all 0.5s ease-in-out;

                &:hover {
                  background: $navHoverBtn;
                }
                a {
                  font-family: 'karla';
                  font-size: 23.17px;
                  font-weight: 400;
                  line-height: 27.08px;
                  letter-spacing: -0.02%;
                  text-align: left;
                  color: $main-bg-color;
                  @include flex_drct_jstf_algn_wrp(row, start, center);

                  img {
                    margin-right: 30px;
                  }
                }
              }
            }
          }
        }
      }

      .popup_container {
        // max-width: 1110px;
        // width: 100%;

        height: 50px;
        padding: 0px 10px;

        @media (max-width: 415px) {
          padding: 0px 0px;
        }

        .popup {
          opacity: 0;
          visibility: hidden;
          // position: relative;
          width: 377px;
          margin-top: 30px;
          // top: 100px;
          background-color: #f8f8f8;
          border: 1px solid #ddd;
          padding: 32px;
          z-index: 4;
          transition: opacity 0.5s, visibility 0s 0.5s;
          @include flex_drct_jstf_algn_wrp(column, center, center);

          @media (max-width: 415px) {
            width: 350px;
          }

          &.show {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.5s;
          }

          .item {
            display: block;
            margin-top: 25px;
          }

          .productBox_Container {
            max-width: 313px;
            width: 100%;
            @include flex_drct_jstf_algn_wrp(column, space-between, center);

            .product_Box {
              max-width: 313px;
              width: 100%;
              margin-bottom: 24px;
              @include flex_drct_jstf_algn_wrp(row, space-between, center);

              .imgbox {
                width: 64px;
                height: 64px;
                border-radius: 8px;
                padding: 12px;
                margin-right: 17px;
                background-color: $shopBoxClr;
                @include flex_drct_jstf_algn_wrp(column, center, center);

                img {
                  width: 36px;
                  height: 40px;
                }
              }

              .text_container {
                width: 100%;
                @include flex_drct_jstf_algn_wrp(row, space-between, center);

                .Name_price_container {
                  h2 {
                    font-size: 15px;
                    font-weight: 700;
                    line-height: 25px;
                    text-align: left;
                  }

                  .price {
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 25px;
                    text-align: left;
                    opacity: 0.5;
                  }
                }
              }

              .quantity_remove_container {
                @include flex_drct_jstf_algn_wrp(row, space-between, center);

                .quantity {
                  margin-right: 18px;
                  font-size: 13px;
                  font-weight: 700;
                  line-height: 17.76px;
                  letter-spacing: 1px;
                  text-align: center;
                }

                .removebtn {
                  width: 60px;
                  height: 32px;
                  border: none;
                  font-size: 10px;
                  font-weight: 700;
                  line-height: 13.66px;
                  letter-spacing: 1px;
                  text-align: center;
                  background-color: $shopBoxClr;
                }
              }
            }
          }
          .popupHead {
            max-width: 313px;
            width: 100%;
            margin-bottom: 32px;
            @include flex_drct_jstf_algn_wrp(row, space-between, center);
            order: -1;

            div {
              font-size: 18px;
              font-weight: 700;
              line-height: 24.59px;
              letter-spacing: 1.2px;
              text-align: left;
            }

            button {
              font-size: 15px;
              font-weight: 500;
              line-height: 25px;
              text-align: left;
              border: none;
              background-color: transparent;
              transition: all 0.5s ease-in-out;

              &:hover {
                color: $btnColor;
                text-decoration: underline;
              }
            }
          }
          .price_container {
            max-width: 313px;
            width: 100%;
            margin-bottom: 24px;
            @include flex_drct_jstf_algn_wrp(row, space-between, center);

            p {
              opacity: 0.5;
              font-size: 15px;
              font-weight: 400;
              line-height: 25px;
              text-align: left;
            }

            span {
              font-size: 18px;
              font-weight: 700;
              line-height: 24.59px;
              text-align: center;
              color: $blackClr;
            }
          }

          a {
            max-width: 313px;
            height: 48px;
            width: 100%;
            .check {
              max-width: 313px;
              height: 48px;
              width: 100%;
              border: none;
              font-size: 13px;
              font-weight: 700;
              line-height: 17.76px;
              letter-spacing: 1px;
              text-align: center;
              background-color: $btnColor;
              transition: all 0.5s ease-in-out;

              &:hover {
                background-color: $btnHoverClr;
                color: $main-bg-color;
              }
            }
          }
        }
      }
    }
  }
}
