body {
  background-color: #0e0e0e;

  header {
    .header_container {
      max-width: 1440px;
      height: 100px;
      margin: 0 auto;
      background-color: #0e0e0e;
      display: flex;
      justify-content: center;

      .header_content {
        max-width: 1110px;
        width: 100%;
        background-color: #0e0e0e;
        display: flex;
        justify-content: space-between;
        align-items: center;

        nav ul {
          display: flex;

          li:not(:last-child) {
            margin-right: 50px;
          }
          // li {
          //   margin-right: 50px;

          a {
            font-family: 'Manrope', 'Noto Sans Georgian', sans-serif;
            font-size: 13px;
            font-weight: bold;
            line-height: 25px;
            letter-spacing: 2px;
            text-align: left;
            color: white;
          }
        }
      }
    }
  }
  .underline {
    width: 1110px;
    height: 1px;
    margin: 0 auto;
    background-color: #979797;
  }

  section {
    background-color: #0e0e0e;

    .container {
      width: 1110px;

      border: 2px solid #0e0e0e;

      // აქ როცა წაუშალე ეს ბორდერი მარგინებმა აღარ იმუშავა. მე სექციაში ჩავსვი ეს დივი და ამ დივში მაქ ორი დივი რამდენად კარგი პრაქტიკაა მსგავსად გაკეტთება და ეს სექცაია მაქვს თვითონ ჰედერში

      //კიდე ვერ წამოვიღე თექსტის ფერები

      // ჰედერის ნავიგაცია თითქოს სხვანირი ფონტია და ჩემსას არ ჰგავს
      margin: 0 auto;
      display: flex;

      .text_container {
        flex: 0.4;
        width: 398px;
        height: 346px;
        margin: 125px 131px 158px 0px;

        span {
          font-weight: 400;
          line-height: 19.12px;
          letter-spacing: 10px;
          text-align: left;
          opacity: 0.5;
          color: $main-bg-color;
        }

        h2 {
          @extend %margin;
          margin-bottom: 24px;
          font-size: 56px;
          font-weight: 700;
          line-height: 58px;
          letter-spacing: 2px;
          text-align: left;
          color: $main-bg-color;
        }

        p {
          margin-bottom: 40px;
          width: 349px;
          height: 75px;
          font-size: 15px;
          font-weight: 500;
          line-height: 25px;
          text-align: left;
          opacity: 0.75;
          color: $main-bg-color;
        }

        button {
          width: 160px;
          height: 48px;
          border: none;
          font-size: 13px;
          font-weight: 700;
          line-height: 17.76px;
          letter-spacing: 1px;
          color: $main-bg-color;
          background-color: $orange;
        }
      }

      .img_box {
        flex: 0.6;
        width: 581px;
        height: 540px;
        margin-top: 13px;
        overflow: hidden;
      }
    }
  }
}
