@font-face {
  font-family: 'Noto Sans Georgian';
  src: url('../../essets/fonts/NotoSansGeorgian-VariableFont_wdth\,wght.ttf');
}

@font-face {
  font-family: 'Manrope';
  src: url('../../essets/fonts/Manrope-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Integral CF';
  src: url('../../essets/fonts/Fontspring-DEMO-integralcf-bold.otf');
}

// body {
//   font-family: 'Manrope', 'Noto Sans Georgian', sans-serif;
// }

body {
  font-family: 'Manrope', sans-serif;
}
