@font-face {
  font-family: 'Noto Sans Georgian';
  src: url('../../essets/fonts/NotoSansGeorgian-VariableFont_wdth\,wght.ttf');
}

@font-face {
  font-family: 'Manrope';
  src: url('../../essets/fonts/Manrope-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Integral CF';
  src: url('../../essets/fonts/Fontspring-DEMO-integralcf-bold.otf');
}

@font-face {
  font-family: 'Poppins';
  src: url('../../essets/fonts/Poppins-Black.ttf');
}

@font-face {
  font-family: 'Poppins light';
  src: url('../../essets/fonts/Poppins-Light.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('../../essets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

@font-face {
  font-family: 'karla';
  src: url('../../essets/fonts/Karla-VariableFont_wght.ttf');
}

body {
  font-family: 'Manrope', sans-serif;
}
