$main-bg-color: #fff;

$mackgroundClr: #0e0e0e;

$btnColor: #d87d4a;

$btnHoverClr: #fbaf85;

$shopBoxClr: #f1f1f1;

$blackClr: #000000;

$grayColor: #00000099;

$fdbBrdrColor: #0000001a;

$dataBoxColor: #101010;

$newProductClr: #d87d4a;

$inputBorderClr: #cfcfcf;

$holderClor: #aeaeae;

$backGroundClrInCHeck: #f1f1f1;

$checkoutBoxClr: #ffffff;

$navHoverBtn: #e5e5e51c;
